
.input-panel {
    margin-top: 50px;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.input-row_cell {
    margin: 10px 5px;
}

.input-row_cell > label {
    width: 20px;
    display: inline-block;
}